{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ================> Page Header section start here <================== -->
    <div class="pageheader bg_img" style="background-image: url({% static "assets/images/banner/bg-2.jpg"%});">
        <!--div class="container">
            <div class="pageheader__content text-center">
                <h2>Member Single Page</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                      <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Community</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Member Single</li>
                    </ol>
                </nav>
            </div>
        </div-->
    </div>
    <!-- ================> Page Header section end here <================== -->
{% block pages %}{% endblock %}
{% endblock %}