{% extends "pageheader.html" %}
{% load static %}
{% block pages %}
    <!-- ================> About section start here <================== -->
	<div class="about about--style3 padding-top pt-xl-0">
		<div class="container">
			<div class="section__wrapper">
				<form action="{% url "search:search" %}" method="get">
					<div class="banner__list">
						<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1">
							<div class="col-6">
								<label>Мне интересны</label>
								<div class="banner__inputlist">
									{% include "search_forms_elements/looking_for.html" %}
								</div>
							</div>
							<div class="col">
								<label>Возраст</label>
								<div class="row g-3">
									<div class="col-6">
										<div class="banner__inputlist">
                                            {% include "search_forms_elements/age_min.html" %}
										</div>
									</div>
									<div class="col-6">
										<div class="banner__inputlist">
                                            {% include "search_forms_elements/age_max.html" %}
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<label>Город</label>
								<div class="banner__inputlist">
                                    {% include "search_forms_elements/city.html" %}
								</div>
							</div>
							<div class="col">
                                <input type="text" name="form" value="form" hidden>
								<button type="submit" class="default-btn reverse d-block"><span>Поиск</span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- ================> About section end here <================== -->



	<!-- ================> Member section start here <================== -->
	<div class="member story story--style2 padding-top padding-bottom overflow-hidden">
		<div class="container">
			<div class="section__wrapper">
				<div class="member__info mb-4">
					<div class="member__info--left">
						<div class="member__info--filter">
							<div class="default-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Filter Your Search <i class="fa-solid fa-sliders"></i></span></div>
						</div>
					</div>
					<div class="member__info--right">
						<div class="member__info--customselect right w-100">
							<div class="default-btn"><span>Сортировать:</span></div>
							<div class="banner__inputlist">
								<select>
									<option value="last_active">Активность</option>
									<option value="youngest">Возраст &#8593;</option>
									<option value="oldest">Возраст &#8595;</option>
								</select>
							</div>
						</div>
					</div>
                </div>
				<div class="row g-4 justify-content-center row-cols-lg-4 row-cols-sm-2 row-cols-1">

                    {% for profile in profiles %}
                    <div class="col">
                        <div class="story__item style2 story--theme-color">
                            <div class="story__inner">
                                <div class="story__thumb position-relative">
                                    <a href="group-single.html"><img src="{%if profile.avatar %}{{ profile.avatar.url }}{% else %}{% endif %}" alt="dating thumb"></a>
                                    <span class="member__activity member__activity--ofline">2 days ago</span>
                                </div>
                                <div class="story__content px-0 pb-0">
                                    <a href="group-single.html"><h4>{{profile.name}}, {{profile.user.age}}</h4></a>
                                    <p>{{profile.description}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
				</div>
                {% if profiles %}
				<div class="member__pagination mt-4">
					<div class="member__pagination--left">
						<p>Viewing {{ page_obj.number }} - {{ page_obj.paginator.num_pages }} of {{ page_obj.paginator.count }} Members</p>
					</div>
					<div class="member__pagination--right">
						<ul class="default-pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left"></i></a>
                            </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                            {% if page >= page_obj.number|add:-1 and page <= page_obj.number|add:1 %}
                            <li>
                                <a href="?page={{ page }}"{% if page_obj.number == page %} class="active"{% endif %}>{{ page }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                             {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{page_obj.next_page_number}} {{request.GET.age_min}}"><i class="fas fa-chevron-right"></i></a>
                            </li>{% endif %}
                        </ul>
					</div>
				</div>
                {% endif %}
			</div>
		</div>
	</div>
    <!-- ================> Member section end here <================== -->


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Filter your search</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="{% url "search:search" %}" method="post">
						<div class="banner__list">
							<div class="row align-items-center row-cols-1">
								<div class="col">
									<label>Мне интересны</label>
									<div class="banner__inputlist">
                                        {% include "search_forms_elements/looking_for.html" %}
									</div>
								</div>
								<div class="col">
									<label>Возраст</label>
									<div class="row g-3">
										<div class="col-6">
											<div class="banner__inputlist">
												{% include "search_forms_elements/age_min.html" %}
											</div>
										</div>
										<div class="col-6">
											<div class="banner__inputlist">
												{% include "search_forms_elements/age_max.html" %}
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<label>Country</label>
									<div class="banner__inputlist">
										{% include "search_forms_elements/city.html" %}
									</div>
								</div>
								<div class="col">
									<button type="submit" class="default-btn reverse d-block"><span>Find Your Partner</span></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- modal -->
{% endblock %}