                                    <form action="{% url "user:climbing" %}" method="post">
                                        <div class="info">
                                            {% if messages %}
                                            <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                            <div class="info-card mb-4">
                                                <div class="info-card-title">
                                                    <h6>Трудность</h6>
                                                </div>
                                                <div class="info-card-content">
                                                    <ul class="info-list">
                                                        <li>
                                                            <p class="info-name">Лучшая категория</p>
                                                            <p class="info-details">
                                                               {{form.leading}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="info-name">Предпочитаю</p>
                                                            <p class="info-details">
                                                                {{form.where_leading}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="info-card mb-4">
                                                <div class="info-card-title">
                                                    <h6>Боулдеринг</h6>
                                                </div>
                                                <div class="info-card-content">
                                                    <ul class="info-list">
                                                        <li>
                                                            <p class="info-name">Лучшая категория</p>
                                                            <p class="info-details">
                                                               {{form.bouldering}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="info-name">Предпочитаю</p>
                                                            <p class="info-details">
                                                                {{form.where_bouldering}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="info-card mb-4">
                                                <div class="info-card-content">
                                                    <ul class="info-list">
                                                        <li>
                                                            <p class="info-name">Скорость</p>
                                                            <p class="info-details">
                                                               {{form.speed}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="info-name">Альпинизм</p>
                                                            <p class="info-details">
                                                                {{form.alpinism}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="info-name">Страхую</p>
                                                            <p class="info-details">
                                                               {{form.belay}}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="info-name">Примечание</p>
                                                            <p class="info-details">
                                                                {{form.belay_description}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                {{form.errors}}
                                                {% csrf_token %}
                                                <button class="default-btn reverse" data-toggle="modal">
                                                    <span>Сохранить</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>