<!-- ================> Banner section start here <================== -->
<div class="banner banner--style2 padding-top bg_img" style="background-image: url(assets/images/banner/bg-2.jpg);">
    <div class="container">
        <div class="banner__wrapper">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-4 col-12">
                    <div class="banner__content wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="banner__title">
                            <h2>New Places, Unforgettable Dating.</h2>
                            <p>Join our international family today! Please call us for more info.</p>
                            <a href="membership.html" class="default-btn style-2"><span>Get A Membership</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="banner__thumb wow fadeInUp" data-wow-duration="1.5s">
                        <img src="{% static "assets/images/banner/02.png" %}" alt="banner">
                        <div class="banner__thumb--shape">
                            <div class="shapeimg shapeimg__one">
                                <img src="{% static "assets/images/banner/shape/home2/01.png" %}" alt="dating thumb">
                            </div>
                            <div class="shapeimg shapeimg__two">
                                <img src="{% static "assets/images/banner/shape/home2/02.png" %}" alt="dating thumb">
                            </div>
                            <div class="shapeimg shapeimg__three">
                                <img src="{% static "assets/images/banner/shape/home2/03.png" %}" alt="dating thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================> Banner section end here <================== -->