{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ================> Banner section start here <================== -->
<div class="banner banner--style2 padding-top bg_img" style="background-image: url({% static "assets/images/banner/bg-2.jpg" %});">
<div class="container">
    <div class="banner__wrapper">
        <div class="row g-0 justify-content-center">
            <div class="col-lg-4 col-12">
                <div class="banner__content wow fadeInLeft" data-wow-duration="1.5s">
                    <div class="banner__title">
                        {% if not user.is_authenticated %}
                        <h2 style="text-transform: none;">Приходи к нам, у нас есть печеньки</h2>
                        <p>Присоединяйся к нашей компании. С нами ты сможешь ползать по стенам, как свин-паук и скакать по скалам аки козел безрогий.</p>
                        <a href="{% url "user:register" %}" class="default-btn style-2"><span>Талончик бери</span></a>
                        {% else %}
                        <h2 style="text-transform: none;">О, опять ты?</h2>
                        <p>Делай свое грязное дело и проваливай</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="banner__thumb wow fadeInUp" data-wow-duration="1.5s">
                    <img src="{% static "assets/images/banner/02.png" %}" alt="banner">
                    <div class="banner__thumb--shape">
                        <div class="shapeimg shapeimg__one">
                            <img src="{% static "assets/images/banner/shape/home2/01.png" %}" alt="dating thumb">
                        </div>
                        <div class="shapeimg shapeimg__two">
                            <img src="{% static "assets/images/banner/shape/home2/02.png" %}" alt="dating thumb">
                        </div>
                        <div class="shapeimg shapeimg__three">
                            <img src="{% static "assets/images/banner/shape/home2/03.png" %}" alt="dating thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- ================> Banner section end here <================== -->


<!-- ================> About section start here <================== -->
<div class="about about--style2 padding-top pt-xl-0">
    <div class="container">
        <div class="section__wrapper wow fadeInUp" data-wow-duration="1.5s">
            <div class="row g-0 justify-content-center row-cols-lg-2 row-cols-1">
                <div class="col">
                    <div class="about__left">
                        <div class="about__top">
                            <div class="about__content">
                                <h3>Дороу, неудачники</h3>
                                <p>Тут, крч, о том насколько тут охуенно. Один хрен это никто не читает. Пойду чайку наебну</p>
                            </div>
                        </div>
                        <!--div class="about__bottom">
                            <div class="about__bottom--head">
                                <h5>Latest Registered Members</h5>
                                <div class="about__bottom--navi">
                                    <div class="ragi-prev"><i class="fa-solid fa-chevron-left"></i></div>
                                    <div class="ragi-next active"><i class="fa-solid fa-chevron-right"></i></div>
                                </div>
                            </div>
                            <div class="about__bottom--body">
                                <div class="ragi__slider overflow-hidden">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/01.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/02.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/03.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/04.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/05.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/01.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/02.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/03.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/04.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
                <div class="col">
                    <div class="about__right">
                        <div class="about__title">
                            <h3>Продам гараж</h3>
                        </div>
                        <form action="#">
                            <div class="banner__list">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Я</label>
                                        <div class="banner__inputlist">
                                            <select>
                                                <option selected>с писькой</option>
                                                <option value="male">наружу</option>
                                                <option value="female">унутрь</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Ищу</label>
                                        <div class="banner__inputlist">
                                            <select>
                                                <option selected>да кому ты нужен</option>
                                                <option value="male">малтщега</option>
                                                <option value="female">девощку</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner__list">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>Возраста</label>
                                        <div class="row g-3">
                                            <div class="col-6">
                                                <div class="banner__inputlist">
                                                    <select>
                                                        <option value="18" selected>18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                        <option value="35">35</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="banner__inputlist">
                                                    <select>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25" selected>25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                        <option value="35">35</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>Город</label>
                                        <div class="banner__inputlist">
                                            <select id="country" name="country">
                                                <option value="spb" selected>Помойка всея Руси</option>
                                                <option value="msk">Default City</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="default-btn reverse d-block"><span>Вперде</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================> About section end here <================== -->



{% endblock %}