{% extends "base.html" %}
{% load static %}
{% block content %}

{% include "main/banner.html"  %}

<!-- ================> About section start here <================== -->
<div class="about about--style2 padding-top pt-xl-0">
    <div class="container">
        <div class="section__wrapper wow fadeInUp" data-wow-duration="1.5s">
            <div class="row g-0 justify-content-center row-cols-lg-2 row-cols-1">
                <div class="col">
                    <div class="about__left">
                        <div class="about__top">
                            <div class="about__content">
                                <h3>Дороу, неудачники</h3>
                                <p>Здесь ты сможешь найти себе и постоянного напарника, и компанию на длительный скальный выезд, а может и найти нечто большее</p>
                            </div>
                        </div>
                        <!--div class="about__bottom">
                            <div class="about__bottom--head">
                                <h5>Latest Registered Members</h5>
                                <div class="about__bottom--navi">
                                    <div class="ragi-prev"><i class="fa-solid fa-chevron-left"></i></div>
                                    <div class="ragi-next active"><i class="fa-solid fa-chevron-right"></i></div>
                                </div>
                            </div>
                            <div class="about__bottom--body">
                                <div class="ragi__slider overflow-hidden">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/01.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/02.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/03.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/04.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/05.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/01.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/02.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/03.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="ragi__thumb">
                                                <a href="member-single.html"><img src="{% static "assets/images/ragi/04.jpg" %}" alt="dating thumb"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
                <div class="col">
                    <div class="about__right">
                        <div class="about__title">
                            <h3>Продам гараж</h3>
                        </div>
                        <form action="#">
                            <div class="banner__list">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Город</label>
                                        <div class="banner__inputlist">
                                            <select id="country" name="country">
                                                {% for c in city %}
                                                    {% for id, name in c.items %}
                                                <option value="{{id}}">{{name}}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Ищу</label>
                                        <div class="banner__inputlist">
                                            <select>
                                                <option selected>да кому ты нужен</option>
                                                <option value="male">малтщега</option>
                                                <option value="female">девощку</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner__list">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>Возраста</label>
                                        <div class="row g-3">
                                            <div class="col-6">
                                                <div class="banner__inputlist">
                                                    <select>
                                                        <option value="18" selected>18</option>
                                                        {% for c in age %}
                                                        <option value="{{c}}">{{c}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="banner__inputlist">
                                                    <select>
                                                        {% for c in age %}
                                                        <option value="{{c}}">{{c}}</option>
                                                        {% endfor %}
                                                        <option value="80" selected>80</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="default-btn reverse d-block"><span>Найти</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================> About section end here <================== -->
{% endblock %}