{% extends "user/auth_forms.html" %}
{% load static %}
{% block form %}
    <div class="container">
        <div class="row">
            <div class="image image-log"></div>
            <div class="col-lg-7">
                <div class="log-reg-inner">
                    <div class="section-header inloginp">
                        <h2 class="title">ClimbDate</h2>
                    </div>
                    <div class="main-content inloginp">
                        <form action="{% url "user:login" %}" method="post">
                            <div class="form-group">
                                <p class="f-pass btn btn-outline-primary"><a href="{% url "user:registration" %}">У меня нет аккаунта</a></p>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" class="my-form-control"
                                       placeholder="Email">
                                {% if form.username.errors %}
                                <div class="warning">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="my-form-control"
                                       placeholder="Пароль">
                                {% if form.password.errors %}
                                <div class="warning">{{ form.password.errors }}</div>
                                {% endif %}
                            </div>
                            <p class="f-pass"><a href="#">Забыли пароль?</a></p>
                            <div class="text-center">
                                {% csrf_token %}
                                <button type="submit" class="default-btn">
                                    <span>Войти</span>
                                </button>
                            </div>
                            <!---div class="or">
                                <p>OR</p>
                            </div>
                            <div class="or-content">
                                <p>Sign up with your email</p>
                                <a href="#" class="default-btn reverse">
                                    <img src={% static "assets/images/login/google.png" %} alt="google">
                                    <span>Sign Up with Google</span>
                                </a>
                                <p class="or-signup"> Don't have an account? <a href="{% url "user:registration" %}">Sign up here</a>
                                </p>
                            </div --->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}