{% load static %}<div class="tab-pane fade{% if photos %}show active{% endif %}" id="gt6" role="tabpanel" aria-labelledby="gt6-tab">
                                    <div class="group__bottom--body bg-white">
                                        <div class="group__bottom--allmedia">
                                            <div class="media-wrapper">
                                                <ul class="nav nav-tabs" id="myTab3" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link active" id="all-media-tab" data-bs-toggle="tab" data-bs-target="#all-media" type="button" role="tab" aria-controls="all-media" aria-selected="true"><i class="fa-solid fa-table-cells-large"></i> All <span>12</span></button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="album-tab" data-bs-toggle="tab" data-bs-target="#album" type="button" role="tab" aria-controls="album" aria-selected="false"><i class="fa-solid fa-camera"></i> Albums <span>4</span></button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="photos-media-tab" data-bs-toggle="tab" data-bs-target="#photos-media" type="button" role="tab" aria-controls="photos-media" aria-selected="false"><i class="fa-solid fa-image"></i> Photos <span>4</span></button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#video" type="button" role="tab" aria-controls="video" aria-selected="false"><i class="fa-solid fa-video"></i> Videos <span>4</span></button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music" type="button" role="tab" aria-controls="music" aria-selected="false"><i class="fa-solid fa-music"></i> Music <span>0</span></button>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="myTabContent3">
                                                    <div class="tab-pane fade show active" id="all-media"
                                                        role="tabpanel" aria-labelledby="all-media-tab">
                                                        <div class="media-content">
                                                            <ul class="media-upload">
                                                                <li class="upload-now">
                                                                    <div class="custom-upload">
                                                                        <div class="file-btn"><i class="fa-solid fa-upload"></i> Upload</div>
                                                                        <input type="file">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-3 g-3">
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/01.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/02.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/03.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/04.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/05.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/06.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/07.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/08.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/09.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/10.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/11.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/12.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-center mt-5">
                                                                <a href="#" class="default-btn"><i class="fa-solid fa-spinner"></i> Load More</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="album" role="tabpanel" aria-labelledby="album-tab">
                                                        <div class="media-content">
                                                            <ul class="media-upload">
                                                                 <li class="upload-now">
                                                                    <div class="custom-upload">
                                                                        <div class="file-btn"><i class="fa-solid fa-upload"></i> Upload</div>
                                                                        <input type="file">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-3 g-3">
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/02.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/06.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/10.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb albam-thumb">
                                                                        <img src="{% static "assets/images/allmedia/12.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase:collection" class="icon">
                                                                            <i class="fa-solid fa-camera"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="text-center mt-5">
                                                                <a href="#" class="default-btn"><i class="fa-solid fa-spinner"></i> Load More</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="photos-media" role="tabpanel" aria-labelledby="photos-media-tab">
                                                        <div class="media-content">
                                                            <ul class="media-upload">
                                                                 <li class="upload-now">
                                                                    <div class="custom-upload">
                                                                        <div class="file-btn"><i class="fa-solid fa-upload"></i> Upload</div>
                                                                        <input type="file">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-3 g-3">
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/03.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/04.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/08.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb">
                                                                        <img src="{% static "assets/images/allmedia/09.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodal" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-image"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="text-center mt-5">
                                                                <a href="#" class="default-btn"><i class="fa-solid fa-spinner"></i> Load More</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                                                        <div class="media-content">
                                                            <ul class="media-upload">
                                                                 <li class="upload-now">
                                                                    <div class="custom-upload">
                                                                        <div class="file-btn"><i class="fa-solid fa-upload"></i> Upload</div>
                                                                        <input type="file">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-3 g-3">
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/01.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/05.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/07.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="media-thumb video-thumb">
                                                                        <img src="{% static "assets/images/allmedia/11.jpg" %}" alt="dating thumb">
                                                                        <a href="#groupmodalvideo" data-rel="lightcase" class="icon">
                                                                            <i class="fa-solid fa-circle-play"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="text-center mt-5">
                                                                <a href="#" class="default-btn"><i class="fa-solid fa-spinner"></i> Load More</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="music-tab">
                                                        <div class="media-content">
                                                            <ul class="media-upload">
                                                                 <li class="upload-now">
                                                                    <div class="custom-upload">
                                                                        <div class="file-btn"><i class="fa-solid fa-upload"></i> Upload</div>
                                                                        <input type="file">
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p><i class="icofont-worried"></i> Sorry !!
                                                                        There's no media found for the
                                                                        request !! </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>