{% extends "light.html" %}
{% load static %}
{% block content %}
<!-- ================> login section start here <================== -->
<section class="log-reg forezero">
    <div class="container">
        <div class="row justify-content-end">
            <div class="image image-404"></div>
            <div class="col-lg-7 ">
                <div class="log-reg-inner">
                    <div class="main-thumb mb-5">
                        <img src="{% static "assets/images/404.png" %}" alt="404">
                    </div>
                    <div class="main-content inloginp">
                        <div class="text-content text-center">
                            <h2>Хм... Что-то не так</h2>
                            <p>Нам очень жаль, но запрошенная вами страница отсутствует :( </p>
                            <a href="{% url "main:index" %}" class="default-btn reverse"><span>Назад</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================> login section end here <================== -->
{% endblock %}
