{% extends "index.html" %}
{% load static %}
{% block page %}
<!-- ================> header section start here <================== -->
<header class="header" id="navbar">
    <div class="header__bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url "main:index" %}"><img src="{% static "assets/images/logo/logo.png" %}" alt="logo"></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler--icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav mainmenu">
                        <ul>
                            <li class="active">
                                <a href="{% url "main:index" %}">Главная</a>
                            </li>{% if not user.is_authenticated %}
                            <li>
                                <a href="#">Профиль</a>
                                <ul>
                                    <li><a href="{% url "user:login" %}">Вход</a></li>
                                    <li><a href="{% url "user:registration" %}">Регистрация</a></li>
                                </ul>
                            </li>{% else %}
                            <li>
                                <a href="{% url "search:search" %}">Поиск</a>
                            </li>
                            <li>
                                <a href="#">{{user.profile.name}}</a>
                                <ul>
                                    <li><a href="{% url "user:profile" %}">Профиль</a></li>
                                    {% if user.is_superuser %}
                                    <li><a href="{% url "admin:index" %}">Админко</a></li>
                                    {% endif %}
                                    <li><a href="{% url "user:logout" %}">Выйти</a></li>
                                </ul>
                            </li>{% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ================> header section end here <================== -->

{% block content %}{% endblock %}

<!-- ================> Footer section start here <================== -->
<footer class="footer footer--style2">

    <div class="footer__bottom wow fadeInUp" data-wow-duration="1.5s">
        <div class="container">
            <div class="footer__content text-center">
                <p class="mb-0">All Rights Reserved &copy; <a href="{% url "main:index" %}">CatchMe</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================> Footer section end here <================== -->
{% endblock %}