{% load static %}<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} - {% endif %}ClimbDate</title>
    <meta name="description" content="ClimbDate – это самое уютное сообщество, но это не точно">
    <link rel="canonical" href="https://climbdate.ru/">
    <meta property="article:author" content="https://vk.com/ClimbDate">
	<meta property="article:publisher" content="https://vk.com/ClimbDate">
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="ClimbDate"/>
	<meta property="og:url" content="https://climbdate.ru/"/>
	<meta property="og:image" content="{% static "assets/images/banner/bg-4.png" %}"/>
	<meta property="og:site_name" content="ClimbDate"/>
	<meta property="og:image:width" content="1280"/>
	<meta property="og:image:height" content="666"/>
    <meta property="og:description" content="Самое уютное сообщество, но это не точно"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link id="favicon" rel="shortcut icon" type="image/png" href="{% static "assets/images/favicon2.png" %}">

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/swiper.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/lightcase.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

</head>

<body>
<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
<!-- scrollToTop ending here -->

{% block page %}{% endblock %}

<!-- All Needed JS -->
<script src="{% static "assets/js/vendor/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "assets/js/vendor/modernizr-3.11.2.min.js" %}"></script>
<script src="{% static "assets/js/isotope.pkgd.min.js" %}"></script>
<script src="{% static "assets/js/swiper.min.js" %}"></script>
<script src="{% static "assets/js/wow.js" %}"></script>
<script src="{% static "assets/js/counterup.js" %}"></script>
<script src="{% static "assets/js/jquery.countdown.min.js" %}"></script>
<script src="{% static "assets/js/lightcase.js" %}"></script>
<script src="{% static "assets/js/waypoints.min.js" %}"></script>
<script src="{% static "assets/js/vendor/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "assets/js/plugins.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>