{% load static %}
<!-- ================> Banner section start here <================== -->
<div class="banner banner--style2 padding-top bg_img" style="background-image: url({% static "assets/images/banner/bg-4.jpg" %});">
    <div class="container">
        <div class="banner__wrapper">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-4 col-12">
                    <div class="banner__content wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="banner__title">
                            {% if not user.is_authenticated %}
                            <h2 style="text-transform: none;">Скалолазные знакомства</h2>
                            <p>Если ты тоже считаешь, что крепкая пара - это когда оба с одинаковыми интересами,
                                и эти интересы = скалолазание, то ты точно по адресу.</p>
                            <a href="{% url "user:registration" %}" class="default-btn style-2"><span>Присоединяйся</span></a>
                            {% else %}
                            <h2 style="text-transform: none;">О, опять ты?</h2>
                            <p>Делай свое грязное дело и проваливай</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="banner__thumb wow fadeInUp" data-wow-duration="1.5s">
                        <img src="{% static "assets/images/banner/03.png" %}" alt="banner">
                        <div class="banner__thumb--shape">
                            <div class="shapeimg shapeimg__one">
                                <img src="{% static "assets/images/banner/shape/home2/01.png" %}" alt="dating thumb">
                            </div>
                            <div class="shapeimg shapeimg__two">
                                <img src="{% static "assets/images/banner/shape/home2/02.png" %}" alt="dating thumb">
                            </div>
                            <div class="shapeimg shapeimg__three">
                                <img src="{% static "assets/images/banner/shape/home2/03.png" %}" alt="dating thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================> Banner section end here <================== -->