{% extends "user/auth_forms.html" %}
{% load static %}
{% block form %}
    <div class="container">
        <div class="row">
            <div class="image">
            </div>
            <div class="col-lg-7">
                <div class="log-reg-inner">
                    <div class="section-header">
                        <h2 class="title">CatchMe</h2>
                        <p>Давайте создадим ваш профиль. Просто заполните поля ниже, и мы создадим вам новый аккаунт.</p>
                    </div>
                    <div class="main-content">
                        <form action="{% url "user:registration" %}" method="post">
                            <div class="form-group">
                                <p class="f-pass"><a href="{% url "user:login" %}">У меня уже есть аккаунт</a></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="my-form-control" name="email"
                                       {% if form.email.value %}value="{{ form.email.value }}"{% endif %}
                                       placeholder="Email">
                                {% if form.email.errors %}
                                <div class="warning">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="password" class="my-form-control" name="password1"
                                       {% if form.password1.value %}value="{{ form.password1.value }}"{% endif %}
                                       placeholder="Пароль">
                                {% if form.password1.errors %}
                                <div class="warning">{{ form.password1.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="password" class="my-form-control"  name="password2"
                                       {% if form.password2.value %}value="{{ form.password2.value }}"{% endif %}
                                       placeholder="Подтверждение пароля">
                                {% if form.password2.errors %}
                                <div class="warning">{{ form.password2.errors }}</div>
                                {% endif %}
                            </div>
                            <h6 class="content-title mt-5">Пол и дату рождения невозможно изменить после регистрации</h6>
                            <div class="form-group">
                                <label for="date_of_birth">Дата рождения</label>
                                <input type="date" class="my-form-control" name="date_of_birth" id="date_of_birth"
                                {% if form.date_of_birth.value %}value="{{ form.date_of_birth.value }}"{% endif %}>
                                {% if form.date_of_birth.errors %}
                                <div class="warning">{{ form.date_of_birth.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Пол</label>
                                <div class="banner__inputlist">
                                    <div class="s-input me-3">
                                        <input type="radio" name="sex" id="males" value="False" checked>
                                        <label for="males">Мужской</label>
                                    </div>
                                    <div class="s-input">
                                        <input type="radio" name="sex" id="females" value="True"
                                        {% if form.sex.value == "True" %}checked{% endif %}>
                                        <label for="females">Женский</label>
                                    </div>
                                {% if form.sex.errors %}
                                <div class="warning">{{ form.sex.errors }}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="text-center">
                                {% csrf_token %}
                                <button class="default-btn reverse" data-toggle="modal" data-target="#email-confirm">
                                    <span>Создать аккаунт</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}